@charset "UTF-8";

body{
  background-color: CFF1FF_1CFF1FF_1;
}

.top_form{
  text-align: center;
  padding: 60px;
  font-size: 28px;
}

.input_form{
  margin: auto;
  width: 500px;
  padding: 50px;
  background: ECFAFF_1ECFAFF_1;
}
.create_account{
  text-align: center;
  font-size: 24px;
}
.kbn{
 font-size: 18px;
 color: 000000_1000000_1;
 margin-top: 50px;
}
.syosai{
  font-size: 14px;
  color: 464646_1464646_1;
  margin-top: 25px;
}
.aka{
  color: E40000_1E40000_1;
}
.text_box{
  width: 100%;
  height: 35px;
  margin-top: 6px;
  padding: 5px;
  color: 545658_1545658_1;
  box-sizing: border-box;
  border: 1px solid D9D9D9_1D9D9D9_1;
  background: FBFBFB_1FBFBFB_1;
}
input[type="radio"] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

.flex {
  display: flex;
}
.dropdown{
  margin: 0px;
  width: 100%;
  height: 35px;
  margin-top: 6px;
  padding: 5px;
  color: 545658_1545658_1;
  box-sizing: border-box;
  border: 1px solid D9D9D9_1D9D9D9_1;
  background: FBFBFB_1FBFBFB_1;
}
select{
  appearance: none;
}
.dropdown_position {
  margin-top: 6px;
  width: 100%;
  position: relative;
}
.dropdown_position:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  right: 10px;
  top: 45%;
  display: inline-block;
  border-bottom: 2px solid C3C3C3_1C3C3C3_1;
  border-right: 2px solid C3C3C3_1C3C3C3_1;
  transform: rotate(45deg);
}
.radio_sex{
  margin-top: 6px;
}
.radio_label{
  margin-left: 10px;
}
.radio{
  display: none;
  margin-left: 10px;
}
.radio_btn {
  margin-left: 10px;
}
.radio_btn:first-child{
  margin-left: 0px;
}
.radio_btn span{
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  color: 545658_1545658_1;
}
.radio_btn span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 14px;
  height: 14px;
  background-color: FBFBFB_1FBFBFB_1;
  border: 1px solid D9D9D9_1D9D9D9_1;
  border-radius: 50%;
  transform: translateY(-50%);
}

input:focus {
  outline: none;
  background-color: #fff;
  border-color: rgba(93, 130, 194, 0.4);
  box-shadow: 0px 0px 0px 2px rgba(1, 90, 191, 0.1);
}

.input_label {
  position: relative;
  padding-left: 25px;
}

.checkbox_position {
  margin-top: 25px;
  margin-left: 10px;
}

.checkbox{
  display: none;
}

.input_label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 15px;
  height: 15px;
  margin-top: -8px;
  border: 1px solid D9D9D9_1D9D9D9_1;
  background: FFFFFF_1FFFFFF_1;
}

.origin_checkbox input:checked + .input_label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 6px;
  height: 13px;
  margin-top: -11px;
  border-right: 3px solid 0140BF_10140BF_1;
  border-bottom: 3px solid 0140BF_10140BF_1;
  transform: rotate(45deg);
}

.btn_submit {
  margin-top: 50px;
  width: 100%;
  padding: 13px;
  background: 0170BF_10170BF_1;
  color: #fff;
}

.btn_submit:active {
  background: #fff;
  color: 0170BF_10170BF_1;
  border: 1px solid D9D9D9_1D9D9D9_1;
}


.biko{
  margin-top: 25px;
  font-size: 10px;
}

.link{
  color: 0170BF_10170BF_1;
  text-decoration: none;
  cursor: pointer;
}

.label__section {
  margin-top: 25px;
}

.label__text {
  font-size: 14px;
  color: 464646_1464646_1;
}
